{% extends "base.html" %}
{% block meta_description %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Subscribe to Inkwell Updates and stay informed with the latest news and updates.">
    <meta name="keywords" content="newsletter, subscription, email updates, Inkwell, subscribe">
    <meta name="author" content="Alexey">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
{% endblock %}
{% block title %}Get Inkwell Updates{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
  <h2 class="mb-4 text-center">📬 Get Inkwell Updates</h2>
  <p>We will not overwhelm your inbox. You will be alerted only about the changes that may be of interest fir you.</p>

  <form method="post" class="card p-4 shadow-sm bg-light">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="text-danger small">{{ field.errors.0 }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary w-100">Subscribe</button>
  </form>
</div>
{% endblock %}